<% content_for :head do %>
    <title><%= @deck.name %></title>
    <%= javascript_include_tag 'jquery-1.3.2', 'ba-debug.min', 'editor/creation', 'editor/init' %>
    <%= stylesheet_link_tag 'reset-fonts', 'layout', 'editor' %>
<% end %>

<% cols = 6 %>

<% content_for :main do %>
      <div id="deck_entry" >
        <div id="input_entry">
          <input id="card_entry" size="35" />
          <button id="add_card_button" name="add_card">+</button>
        </div>
  
        <div id="input_example">
          <p><span style="font-weight: bold">examples:</span></p>
          <ul style="margin-left: 18px">
            <li>island</li>
            <li>4 llanowar elves</li>
            <li>x4 shock</li>
          </ul>
        </div>

        <table>
          <tr id="pending_header">
            <td colspan="<%=cols%>">Pending</td>
          </tr>
          <tr id="blank_pending_row" />
        </table>
        
        <table>
          <tr id="unknown_header" style="visibility: hidden">
            <td colspan="<%=cols%>">Couldn't resolve, you may as well delete these</td>
          </tr>
          <%= render :partial => "unknown_run_rows", :locals => {:runs => @deck.maindeck.unknown } %>
          <tr id="blank_unknown_row" />
        </table>
      </div>
<% end %>

<% content_for :left do %>
      <div id="deck_list">
        <table>
          <tr id="decklist_header">
            <td>Type</td>
            <td>Count</td>
            <td>Name</td>
            <td>CC</td>
            <td>CMC</td>
            <td>&nbsp;</td>
          </tr>

          <tr id="land_header">
            <td>Lands</td>
          </tr>
          <%= render :partial => "run_rows",
                :locals => {:runs => @deck.maindeck.lands, :classes => ['maindeck'] } %>
          <tr id="blank_land_row" />

          <tr id="creature_header">
            <td>Creatures</td>
          </tr>
          <%= render :partial => "run_rows",
                :locals => {:runs => @deck.maindeck.creatures, :classes => ['maindeck', 'nonland'] } %>
          <tr id="blank_creature_row" />

          <tr id="spell_header">
            <td>Spells</td>
          </tr>
          <%= render :partial => "run_rows",
                :locals => {:runs => @deck.maindeck.spells, :classes => ['maindeck', 'nonland'] } %>
          <tr id="blank_spell_row" />
          
          <tr>
              <td>Total</td>
              <td id="total_cards"></td>
          </tr>
        </table>
      </div>
<% end %>

<% content_for :right do %>
      <div id="deck_stats">
      </div>
<% end %>
