<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Deck Editor</title>
    <%= javascript_include_tag "jquery-1.3.2", "ba-debug.min", "editor" %>
    <%= stylesheet_link_tag 'reset-fonts', 'layout', 'editor' %>
  </head>
  <body>
    <% cols = 5 %>

    <div id="header">
      <a class="rpxnow" onclick="return false;"
          href="https://monkeymagic.rpxnow.com/openid/v2/signin?token_url=http://localhost:3000/auth/rpxcallback">
        Sign In
      </a>
    </div>

    <div id="container">

      <div id="deck_entry" class="column col_center">
        <div>
          <h3>Card Entry</h3>
          <input id="card_entry" />
          <button id="add_card_button" name="add_card">+</button>
          <div>
            <p>examples:</p>
            <ul>
              <li>island</li>
              <li>4 llanowar elves</li>
              <li>x4 shock</li>
            </ul>
          </div>
        </div>
      </div>

      <div id="deck_list" class="column col_left">
        <div>
          <h3>Deck List</h3>
          <table>
            <tr id="decklist_header">
              <td>Type</td>
              <td>Count</td>
              <td>Name</td>
              <td>MtG id</td>
              <td>CC</td>
              <td>CMC</td>
              <td>&nbsp;</td>
            </tr>
            <tr id="pending_header">
              <td colspan="<%=cols%>">Pending</td>
            </tr>
            <tr id="blank_pending_row" />

            <tr id="land_header">
              <td colspan="<%=cols%>">Lands</td>
            </tr>
            <%= render :partial => "run_rows", :locals => {:runs => @deck.maindeck.lands } %>
            <tr id="blank_land_row" />

            <tr id="creature_header">
              <td colspan="<%=cols%>">Creatures</td>
            </tr>
            <%= render :partial => "run_rows", :locals => {:runs => @deck.maindeck.creatures } %>
            <tr id="blank_creature_row" />

            <tr id="spell_header">
              <td colspan="<%=cols%>">Spells</td>
            </tr>
            <%= render :partial => "run_rows", :locals => {:runs => @deck.maindeck.spells } %>
            <tr id="blank_spell_row" />

          </table>
        </div>
      </div>

      <div id="deck_stats" class="column col_right">
        <div>
          <h3>Deck Stats</h3>
          <p>Coming soon!</p>
        </div>
      </div>
    </div>

    <div id="footer-wrapper">
      <div id="footer"></div>
    </div>

    <script src="https://rpxnow.com/openid/v2/widget" type="text/javascript"></script>
    <script type="text/javascript">
      RPXNOW.overlay = true;
      RPXNOW.language_preference = 'en';
    </script>
  </body>
</html>
